#dropdown-basic::after{
    display: none; 
 }
 .homeCompo{
    margin-top: 9%;
}
@media only screen and (max-width:480px) {
    .homeCompo{
        margin-top: 32%;
    }
}
.suggestionCompo{
    margin-top: 0%;
    height: 30%;
    width: auto;
    height: auto;
    
}
@media only screen and (min-width:1000px) {
    .suggestionCompo{
        width: 300px;
        padding: auto;
        margin-top:30%;

        
    }
}
