@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:ital@1&display=swap');
.form-design-signin{
    
    margin:auto;
    margin-top: 4%;
    margin-bottom: 5%;
    width:500px;
    height:565px;
    opacity: 0.9;
    border-radius: 2em 0em;
}
#LoginBg{
    background-image: url(./scott-graham-5fNmWej4tAA-unsplash.jpg);
    background-size: cover;
    background-position: center;

}
.signinLabel{
    font-family: 'Gentium Book Basic', serif;
    font-weight: 500;
}
.socialBtn{
    margin: auto;
    align-items: center;
}